.container {
    width: 100%;
    transition: 0.5s;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerClosed {
    min-height: 180px;
    padding: 16px 0;
}
@media screen and (min-width: 500px) {
    .containerClosed {
        flex-direction: row;
        min-height: 120px;
    }
}

.container h1 {
    margin: 0;
    font-weight: 900;
    font-size: 4em;
    text-align: center;
    padding: 0;
    margin-bottom: 32px;
}

.containerClosed h1 {
    font-size: 1.5em;
    padding: 0 32px;
    margin-bottom: 16px;
}

.containerClosed h1 br {
    display: none;
}
@media screen and (min-width: 500px) {
    .containerClosed h1 {
        margin: 0;
        text-align: left;
    }
    .containerClosed h1 br {
        display: initial;
    }
}

.container h1 small {
    font-size: 70%;
    font-weight: 300;
}

.container h1 small a, .container h1 small a:visited {
    text-decoration: none;
    color: rgb(75, 192, 192);
}

.container h1 small a:hover,
.container h1 small a:focus,
.container h1 small a:active {
    color: rgb(50, 126, 126);
}

.form {
    width: 100%;
    max-width: 500px;
    grid-template-columns: 1fr auto auto;
    padding: 0 32px;
    display: grid;
}

.form::before {
    content: "";
    grid-column: 1 / -1;
    grid-row: 1;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.6);
    border-radius: 500px;
}

.fileLabel {
    display: block;
    width: 100%;
    grid-column: 1 / -3;
    grid-row: 1;
    padding: 1.0em 1.5em;
    border-radius: 500px 0 0 500px;
    /* background: ghostwhite; */
    border-right: none;
    font-size: .8em;
}

@media screen and (min-width: 500px) {
    .fileLabel {
        font-size: 1em;
    }
}

.config {
    grid-column: 1 / -1;
    padding: 12px 50px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.config input[type='checkbox'] {
    display: none;
}

.checkbox {
    padding: .8em 1em;
    margin: 0 8px;
    border-radius: 5px;
    background-color: #eeeeee;
    color: rgb(59, 59, 59);
    font-size: .8em;
}
.config input[type='checkbox']:checked + .checkbox {
    background-color: rgb(75, 192, 192);
    color: white;
}

.buttonForm {
    grid-row: 1;
    border: none;
    padding-left: 1.5em;
    padding-right: 1.5em;
    outline: none;
    font-size: .8em;
    cursor: pointer;
    color: white;
}

@media screen and (min-width: 500px) {
    .buttonForm {
        font-size: 1em;
    }
}

.buttonForm:focus, .buttonForm:active {
    border: 1px solid black;
}

.buttonSubmit {
    grid-column: -2 / -1;
    border-radius: 0px 500px 500px 0;
    background-color: rgb(75, 192, 192);
}

.buttonClear {
    grid-column: -3 / -2;
    background-color: rgb(255, 99, 132);
}

.buttonForm:disabled {
    background-color: #eeeeee;
    color: rgb(59, 59, 59);
    cursor: initial;
}